{% extends 'board/base.html' %}

{% block title %}Article detail{% endblock title %}

{% block body %}
<h1>{{article.title}}</h1>
<p>
    {{article.content}}
</p>
<div>

    <a href="{% url 'board:edit' article.id %}">
        <button>
        수정
        </button>
    </a>
</div>
<div>
    <form action="{% url 'board:delete' article.id %}" method = "POST">
        {% csrf_token %}
        <input type="delButton" value="삭제">
    </form>
</div>
<script>
    const delButton = document.querySelector('#delButton');
    function popUp () {
        return confirm('real?');
    }
    delButton.addEventListener('click', popUp);

</script>

{% endblock body %}
